<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        <
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>@ViewBag.Title Project Manager</title>
    @Styles.Render("~/Content/css")
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/assets/img/favicon.png")" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="warpper">
        @Html.Partial("_SideBar")
        <div class="main-panel">
            @RenderBody()
            @Html.Partial("_NavBar")
            <div class="content">

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/theme")
    @RenderSection("scripts", required: false)
</body>
</html>
